@use '../abstracts/variables' as *;
nav.sidebar{
    background-color: $bg-color;
    width: 23.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem 2%;
    justify-content: space-between;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: $padding-base 0;
        gap: .5rem;
        box-sizing: border-box;
       
        .top-action{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: $padding-base 0;
            gap: $padding-base * 2;
           
            a.action-btn{
                text-decoration: none;
                color: $font-color;
                &.search{
                    display: none;
                }
                &.nav-trigger{
                    display: none;
                }
                &:hover span{
                    transform: scale(1.08);
                    color: $white;
                }
                span{
                    color: $font-color;
                    transition: all .2s ease-in-out;
                    font-size: $base-font-size * 2;
                }
            }
        }
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            
            img{
                width: 80%;
                
            }
            h3{
                font-size: $base-font-size * 2;
                font-weight: 400;
                //text-transform: uppercase;
                font-family: "Dancing Script", cursive;
            }
        }
    }
    .content{
        min-height: 40%;
        
        box-sizing: border-box;
        padding: $padding-base;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
        .close{
            display: none;
            
        }
        .nav-links{
            
            display: flex;
            flex-direction: column;
            gap: .5rem;
            li{
                list-style: none;
                a{
                    color: $font-color;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: $base-font-size * 1.2;
                    text-transform: uppercase;
                    transition: .1s all ease-in-out;
                }
                &:nth-child(1) a:hover{
                    color: $secondary-color;
                }
                &:nth-child(2) a:hover{
                    color: $primary-color;
                    
                }
                &:nth-child(3) a:hover{
                    color: $tertiary-color;
                }
                &:nth-child(4) a:hover{
                    color: $accent-color;
                }
                &:nth-child(5) a:hover{
                    color: $accent2-color;
                }
                &:nth-child(6) a:hover{
                    color: $primary-color;
                }
            }
        }
        .social-links{
            display: none;
        }
        
    }
    form{ 
        padding: $padding-base 0;
        display: flex;
        align-items: center;
        position: relative;
        line-height: 1.8rem;
        
        input{
            background: transparent;
            padding: $padding-base * 1.2 0;
            border: none;
            border-bottom: 2px solid $font-color;
            width: 100%;
            outline: none;
            color: $font-color;
            &::placeholder{
                color: $font-color;
                font-family: "montserrat", sans-serif;
            }
        }
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            display: none;
        }

        span,i.bx{
            position: absolute;
            right: 1%;
            color: $font-color;
            font-size: $base-font-size * 1.7;
        }
        .search-close{
            display: none;
            
        }
    }

    @media (max-width: $breakpoint-mobile) {
        width: 100%;
        height: fit-content;
        padding: 0;
       
        
        .header{
            
            flex-direction: row-reverse;
            padding: .3rem;
            align-items: center;
            .top-action{
                
                align-items: center;
                line-height: 1rem;
                gap: .7rem;
                .favorite{
                    display: none;
                }
                a.search{
                    display: flex !important;
                }
                a.nav-trigger{
                    display: flex !important;
                    
                    span{
                        font-weight: 200;
                        font-size: calc($base-font-size * 2.3);
                    }
                }
            } 
            .logo{
                display: flex;
                padding: .5rem;
                img{
                    width: 50%;
                }
                
                
               
                h3{
                    font-size: $base-font-size * 2;
                    text-wrap: nowrap;
                    
                }
            }
        }
        .content{
            position: absolute;
            min-height: 40%;
            height: 100vh;
            background: $black;
            z-index: 223;
            width: 0%;
            box-sizing: border-box;
            padding: $padding-base $padding-base * 2.5;
            right: -60%; //change back
            
            justify-content: flex-start;
            transition: all .4s ease;
            display: none;
            &.active{
                right: 0;
                width: 70%;
                display: flex;
                
            }
            .close{
                width: fit-content;
                display: flex;
                align-self: flex-end;
                align-items: baseline;
                padding: 0.5rem;
                cursor: pointer;
                span{
                    font-weight: bold;
                }
                
            }
            .nav-links{
                padding: $padding-base * 0.5;
                display: flex;
                flex-direction: column;
                gap: .8rem;
                box-sizing: border-box;
                li a{
                    font-size: $base-font-size * 1.3;
                    color: $white-accent;
                }
                    
                
            }
            .social-links{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                
                padding: .5rem;
                margin-top: 15%;
                position: relative;
                justify-content: space-around;
                li{
                    list-style: none;
                    a{
                        color: $font-color;
                        text-decoration: none;
                        font-weight: 400;
                        font-size: $base-font-size * 0.9;
                        flex-direction: column;
                        transition: .2s all ease-in-out;
                        display: flex;
                        align-items: center;
                        gap: .3rem;
                        i.bx{
                            font-size: $base-font-size * 2;
                        }
                        
                    }
                    &:nth-child(1) a{
                        color: $secondary-color;
                       
                    }
                    &:nth-child(2) a{
                        color: $primary-color;
                       
                        
                    }
                    &:nth-child(3) a{
                        color: $tertiary-color;
                       
                    }
                
                }
            }
                
            
        }
        form{
            position: absolute;
            height: 100vh;
            
            width: 60%;
            right: -60%;
            display: none;
            top: 0;
            background-color: $bg-color;
            z-index: 223;
            align-items: flex-start;
            box-sizing: border-box;
            transition: all .4s ease;
            padding:$padding-base $padding-base * 3;
            &.active{
                right: 0%;
                display: flex !important;
            }
            input{
                width: 100%;
                border-bottom: none;
               
                
                &:hover{
                    &::placeholder{
                        opacity: 1;
                    }
                }
                &::placeholder{
                    opacity: 0.8;
                    
                }
            }
            i.bx{
                display: none;
            }
            .search-close{

                width: fit-content;
                display: flex;
                box-sizing: border-box;
                align-items: baseline;
                padding: 0.5rem;
                cursor: pointer;
                height: fit-content;
                span{
                    font-weight: bold;
                    box-sizing: border-box
                }
            }

        }
    }
}
