// Colors
$primary-color: #3498db;
$secondary-color: rgb(91, 207, 80);
$tertiary-color: rgb(216, 9, 36);
$accent-color: #FADB05;
$accent2-color: #8e44ad;
$accent3-color: #393253;
$font-color:#B0B0B1;
$black-accent: #262727;
$bg-color: #000000;
$black: #000000;
$white: #fff;
$white-accent: #D5D4D5;
// Fonts
$base-font-size: 16px;
$font-family: "Montserrat", sans-serif;

// Spacing
$padding-base: 10px;
$margin-base: 20px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;
